.map-title {
  font-size: 35px;
  margin: 12px 0 10px 8px;
}

.map-svg {
  display: block;
  margin: auto;
}

.polygon {
  opacity: 0.8;
  stroke: white;
  stroke-width: 0.5px;
}

.polygon:hover {
  stroke: lightgrey;
  stroke-width: 0.5px;
  filter: url("#map-shadow");
}
